<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          <app-vote-button [post]="post"></app-vote-button>
        </div>
        <div class="col-md-11">
          <span>
            <span class="subreddit-text"
              >Chủ đề:
              <span class="post-url">{{ post.subredditName }}</span></span
            >
            <span>
              . Đã đăng
              <span> {{ post.duration }} </span>
              bởi
              <span class="username">{{ post.userName }}</span>
            </span>
          </span>
          <hr />
          <h3 class="post-title" style="color: black">{{ post.postName }}</h3>
          <div>
            <p class="post-text" [innerHtml]="post.description"></p>
          </div>
          <div class="post-comment">
            <form [formGroup]="commentForm" (ngSubmit)="postComment()">
              <div class="form-group">
                <textarea
                  class="form-control"
                  [formControlName]="'text'"
                  placeholder="Bình luận của bạn?"
                ></textarea>
              </div>
              <button type="submit" class="login float-right">Bình luận</button>
            </form>
          </div>
          <div style="margin-top: 60px">
            <div class="comment" *ngFor="let comment of comments">
              <div class="username">
                Bình luận bởi:
                <b> {{ comment.userName }}</b>
              </div>
              Nội dung: <i> {{ comment.text }}</i>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-side-bar></app-side-bar>
      <app-subreddit-side-bar></app-subreddit-side-bar>
    </div>
  </div>
</div>
