<div class="sidebar">
  <img
    src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png"
  />
  <div style="text-align: center; font-size: 1em; margin: 7px">
    Chào mừng bạn đã đến với Reddit Việt Nam. Nơi chia sẻ tất cả các thông tin
    và các chủ đề bạn mong muốn
  </div>
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="goToCreatePost()">
      Tạo bài viết
    </button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">
      Tạo chủ đề
    </button>
  </div>
</div>
