.login-section {
    margin: 100px;
}

.login-failed,
.register-success {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 65%;
    background-color: rgb(252, 65, 65);
}

.login-failed-text,
.register-success-text {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: aliceblue;
}